root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 119
ij_visual_guides = 119

[{README.md,LICENSE}]
max_line_length = 79
ij_visual_guides = 79

[*.schema.json]
max_line_length = off
ij_visual_guides = none
ij_json_spaces_within_braces = true
ij_json_spaces_within_brackets = true
ij_json_space_after_colon = true
ij_json_space_before_colon = false
ij_json_space_after_comma = true
ij_json_space_before_comma = false
ij_json_keep_blank_lines_in_code = 1
ij_json_array_wrapping = on_every_item
ij_json_object_wrapping = on_every_item
